* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  border: 2px solid blue;
  width: 550px;
  margin: 50px auto;
  padding: 30px 10px;
  position: relative;
}

#rndNum {
  display: inline-block;
  margin-left: 10px;
  color: #000;
  background: transparent;
  text-align: center;
  width: 70px;
  height: 60px;
  line-height: 60px;
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
}

#showrnd {
  padding: 5px 10px;
  /* margin-left: 20px; */
  font-size: 16px;
}

.customTime {
  margin-left: 5px;
  font-size: 18px;
}

.setTimer {
  width: 50px;
  margin-left: 5px;
  font-size: 20px;
  padding-left: 5px;
}

.timeUp {
  font-size: 40px;
  color: red;
  position: absolute;
  top: 44%;
  left: 70%;
  font-weight: bold;
  display: none;
}

#displayComment {
  color: white;
  background-color: darkblue;
  width: 510px;
  height: 60px;
  font-size: 20px;
  /* padding: 10px; */
  text-align: center;
  line-height: 60px;
  margin: 15px auto;
}

.timeCount {
  font-size: 35px;
  color: darkred;
  font-weight: bold;
}

#showrnd {
  margin-left: 20px;
}

.yourNumber {
  font-size: 24px;
  font-weight: bold;
  color: darkviolet;
  margin-bottom: 10px;
  text-align: center;
}

#input {
  width: 262px;
  padding: 15px 14px;
  font-size: 24px;
  color: darkviolet;
  font-weight: bold;
  margin-left: 105px;
}

/* Chrome, Safari, Edge, Opera */
#input::-webkit-outer-spin-button,
#input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#input::placeholder {
  opacity: 0.3;
  font-size: 17px;
}

.CounterDisplay {
  font-size: large;
  text-align: center;
}

.title {
  text-align: center;
  color: firebrick;
}

#evaluate {
  margin-left: 105px;
}

#evaluate, #playAgain, #startGame {
    padding: 5px 10px;
}
